#search_section {
  display: flex;
  flex-direction: column; 
}

select {
  width: 300px;
}

.show {
  display: flex;
}

.hidden {
  display: hidden;
}

.save_buttons {
  display: flex;
}

button  {
  margin: 20px;
  width: 100px;
}